Copyjob-Test/createContosoTables.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "fileDirectory",
          "value": {
            "value": "@concat(\n    'ContosoSales\\',\n    formatDateTime(\n        convertFromUtc(\n            utcnow(), 'Central Standard Time'\n        ),\n        'yyyy/MM/dd'\n    )\n)\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set file directory",
        "dependsOn": []
      },
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": {
                  "value": "@variables('fileDirectory')",
                  "type": "Expression"
                }
              }
            },
            "linkedService": {
              "name": "bronze_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "0b0e1247-6cd6-abdf-4331-e95c1990256f",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "BinaryReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get items in folder",
        "dependsOn": [
          {
            "activity": "Set file directory",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get items in folder').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "ParquetSource",
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "formatSettings": {
                    "type": "ParquetReadSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@variables('fileDirectory')",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "bronze_Lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "0b0e1247-6cd6-abdf-4331-e95c1990256f",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": {
                    "value": "@if(\n    startswith(item().name, 'Dim'),\n    'Overwrite',\n    'Append'\n)\n",
                    "type": "Expression"
                  },
                  "upsertSettings": {},
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@split(item().name, '.')[0]",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "silver_Lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "d5020a51-1ced-9aa0-4ea8-e48caa8f14b9",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy tables",
              "dependsOn": []
            }
          ]
        },
        "name": "For each file",
        "dependsOn": [
          {
            "activity": "Get items in folder",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "4763d9b2-ba83-4a55-9b80-1e2101b2c513",
          "workspaceId": "e5334c04-f4e5-471a-b6b4-4a1d4120d0c0",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "PrepContoso",
        "dependsOn": [
          {
            "activity": "For each file",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "fileDirectory": {
        "type": "String"
      }
    }
  }
}